.additional__promo {
  position: relative;
  background-color: $bg-basic-green;
  background-image: url("../../images/catalog-background-cat-m@1x.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/catalog-background-cat-m@2x.png");
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/icon_gift.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    height: 200px;
    width: 707px;
    background-image: url("../../images/catalog-background-cat-t@1x.png");
    background-repeat: no-repeat;
    background-color: $bg-basic-green;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/catalog-background-cat-t@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    height: 288px;
    width: 245px;
    background-image: url("../../images/catalog-background-cat-d@1x.png");
    background-repeat: no-repeat;
    background-color: $bg-basic-green;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/catalog-background-cat-d@2x.png");
    }
  }
}

.additional__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.additional__list {
  list-style: none;
}

.additional__item-title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.additional__volume,
.additional__price {
  line-height: 14px;
  font-weight: 400;
}

.additional__button {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: $bg-basic-green;
}
