.catalog__list {
  padding: 0;
}

.catalog__item {
  text-decoration: none;
}

.catalog__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
