.example {
  background-color: $bg-basic-grey;
}

.example__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $secondary-color-text;
}

.example__value {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.example__text {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.example__costs {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__slider {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px;
    height: 257px;
    background-image: url("../../images/icons/state-default.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover::before {
    background-image: url("../../images/icons/state-hover.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:active::before {
    background-image: url("../../images/icons/state-active.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
