.form-container__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $secondary-color-text;
}

.form-container__text {
  font-family: $primary-font;
  text-transform: uppercase;
  color: $secondary-color-text;
}
