.programs__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}

.programs__item {
  background-color: #f2f2f2;
  padding: 30px 20px;

  @media (min-width: $tablet-width) {
    width: 662px;
    padding: 77px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.programs__name {
  color: $secondary-color-text;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.name-slim,
.name-weight {
  position: relative;
}

.name-slim::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 53px;
  background-image: url("../../images/icons/stack.svg#cat_back");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.name-weight::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 67px;
  height: 50px;
  background-image: url("../../images/icons/stack.svg#cat_back-go");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
  }
}

.programs__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $secondary-color-text;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 10px;
    background-image: url("../../images/icons/icon_arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    background-image: url("../../images/icons/Hover-icon_arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:active::after {
    background-image: url("../../images/icons/Hover-icon_arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }
}
